# 01. intro

## shortcut

- ctrl + enter: 현재 셀 실행
- shift + enter: 현재 셀 실행 & 아래로 이동
- alt + enter: 현재 셀 실행 & 아래에 새로운 셀 추가
---
- esc + m: code 셀을 markdown 셀로 바꾸기

## 주의사항

1. Apple / apple 대소문자 주의
2. git add. / git add . 띄어쓰기 주의
3. message / massage 오타 주의

## 01. 변수

```
var_name = value
```
- 변수 이름은 어떤 이름이든 사용 가능
- 다만 영어, 숫자, _를 이용해서 선언
- 키워드는 불가능

In [4]:
a = 100 # a라는 상자 안에 숫자 1을 넣음 # 결과값 미출력

In [6]:
a # 아래에 결과값 자동출력

100

In [7]:
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [8]:
seoul_dust_rate = 150 # 단어와 단어를 연결하는 경우 _ 사용

## 1.1 number

In [9]:
a = 10000 # 100이었던 a에 10000을 덮어씌우기 # 상자가 데이터의 형태에 따라 모양이 바뀜 # 숫자/글자 다 넣을 수 있음

In [10]:
a

10000

In [11]:
type(a) # a의 type 확인 # int: 정수(integer)

int

In [12]:
b = 1.1

In [13]:
b

1.1

In [14]:
type(b) # float: 실수

float

In [15]:
c = 1 +1j

In [16]:
c

(1+1j)

In [17]:
type(c) # complex: 복소수, 복합적인 숫자

complex

## 1.2 boolean

In [18]:
a = True # 참 또는 거짓 # 꼭 대문자로!

In [19]:
a

True

In [20]:
type(a) # bool: boolean

bool

In [21]:
b = False

In [22]:
b

False

## 1.3 string

- `'`,`"`를 이용하여 표현
---
- 문자열
- 어디로 가느냐에 따라 모양이 달라질 수 있음

In [23]:
a = 'hello' # '로 시작하면 '로 끝나야

In [26]:
b = "hi" # "로 시작하면 "로 끝나야

In [24]:
a

'hello'

In [27]:
b # "로 써도 결과값은 '로 나옴

'hi'

In [30]:
print('hello my name is "Yoojin"') # 중간에 들어오는 문자열을 출력 # Yoojin을 강조하고 싶다면 겉을 감싼 '와 다르게 "사용해야

hello my name is "Yoojin"

In [36]:
print('hello \n my name is \'Yoojin\'') # 역슬래시를 만나면 특별한 취급 # 중간에 enter 쳐도 줄 안 나눠짐 오류남 # \n: 줄바꿈, new line

hello
my name is 'Yoojin'

In [33]:
a = ''' 
hello
world
hi
''' # '''안의 것은 모두 문자로 인식

In [34]:
a

' \nhello\nworld\nhi\n'

In [39]:
a = 10
b = '홍길동은 a살입니다.'

### string interpolation

- %-formatting
- str.format()
- f-string
---
- 문자열 사이에 변수를 넣는 법

In [41]:
age = 10

In [42]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [43]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [44]:
print(f'홍길동은 {a}살입니다.')

홍길동은 10살입니다.

## 02. 연산자

## 2.1 산술연산자

In [47]:
a = 5
b = 2

In [46]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-3
10
0.4

In [49]:
print(a ** b) # 제곱수
print(a // b) # 몫
print(a % b) # 나머지

25
2
1

In [52]:
result = divmod(a, b) # 몫과 나머지를 한번에 계산
print(result)

(2, 1)

## 2.2 비교연산자

In [53]:
a = 5
b = 10

In [55]:
print(a > b) # a가 b보다 큰가요? 맞으면 T 틀리면 F
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [57]:
print(a == b) # a랑 b가 같나요?
print(a != b) # a랑 b가 다른가요?

False
True

In [58]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3 논리연산자

- and: 양쪽 모두 True일 때, True를 반환
- or: 양쪽 모두 False일 때, False를 반환 (둘 중에 하나라도 True면 True)
- not: 상태를 부정

In [59]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [60]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [67]:
a = True
print(not a)

False

### 단축평가

In [72]:
print(3 and 5) # 앞이 T인 경우 뒤를 반환
print(3 and 0)
print(0 and 5) # 앞이 F인 경우 앞을 반환
print(0 and 0)

5
0
0
0

In [66]:
print(3 or 5) # 앞이 T인 경우 앞을 반환
print(3 or 0)
print(0 or 5) # 앞이 F인 경우 뒤를 반환
print(0 or 0)

3
3
5
0

## 2.4 복합연산자

In [69]:
a = 2
b = 3

In [70]:
a = a + b # =: 오른쪽의 값을 왼쪽에 할당 # 결과: 5
a = a - b
a = a * b
a = a / b

In [71]:
a += b
a -+ b
a *= b
a /= b
a //= b 
a %= b
a **= b

5

## 2.5 기타연산자

In [73]:
a = 'hi'
b = 'hello'

In [74]:
# concatenation
print(a + b) # 연결
print(a + 1) # error: 앞이 string이므로 concatenation으로 인식
print(1 + b) # error: 앞이 int이므로 plus로 인식

hihello

In [75]:
a = [1, 2, 3]
b = [2, 3, 4]

In [76]:
print(a + b) # concatenation

[1, 2, 3, 2, 3, 4]

In [79]:
print(1 in a) # 1이라는 데이터가 a에 포함되어 있나요? # containment
print(10 in a)

True
False

In [5]:
a = 257
b = 257

In [6]:
print(a == b) # a와 b의 값이 같은지 # 위와 아래는 비슷하긴 한데...
print(a is b) # a가 b인가요? # a와 b가 본질적으로 같은 객체인지 = 메모리를 차지하는 위치가 같은지
# 500인 경우 F, 100인 경우 T => 256까지는 자주 쓰는 숫자이므로 이미 메모리를 차지하고 있음

True
False

### 연산자 우선순위

0. ()를 통해서 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [85]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 03. 형변환

## 3.1 암시적 형변환

---
- 자동으로 바뀜
- T,F를 숫자로/ 1,0을 T,F로

In [86]:
a = True # 1 
b = False # 0
c = 1

In [88]:
print(a + b) 
print(a + c)

1
2

## 3.2 명시적 형변환

- int()
- float()
- str()
- bool()

In [89]:
a = 1
b = '반'

In [90]:
print(a + b) # error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [91]:
print(str(a) + b) # 대부분의 경우 str로 변환 가능

1반

In [93]:
a = '3'
print(a)
print(type(a))

b = int(a) # a라는 글자를 숫자로 바꿀거야
print(b)
print(type(b))

3
<class 'str'>
3
<class 'int'>

In [94]:
c = 'apple'
d = int(c) # error: 숫자로 바꿀 수 있는 형태여야 가능

ValueError: invalid literal for int() with base 10: 'apple'

In [97]:
a = 1
b = 0 # 0만 False, 0이 아닌 나머지 데이터는 True
c = -123
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [1]:
print(bool([])) # 데이터가 하나도 없으면 False
print(bool([1, 2, 3])) # 하나라도 있으면 True

False
True

## a vs print(a)

In [3]:
1 < 2
5 == 1
1 > 2 # 셀의 마지막 값을 자동으로 output으로 출력해주는 편의 기능

False

In [5]:
print(1 < 2)
print(5 == 1)
print(1 > 2) # 내 의도대로 출력

True
False
False

In [7]:
result = divmod(5, 2)
print(result) # result의 값을 여러곳에서 활용 가능

(2, 1)

NameError: name 'a' is not defined

## 250212
1. 숫자, 글자, 참과 거짓
2. ~을 연산하기

- Jupyter notebook: 내가 마지막으로 실행한 것이 누적됨

## 04. 시퀀스 자료형

- 시퀀스는 데이터의 **순서대로** 나열된 자료 구조
    - 순서대로 나열되었다는 것은 정렬된 것과 다름

1. List
2. Tuple
3. Range
4. String

## 4.1 List(리스트, 배열)

- 선언: `var_name = [value1, value2, value3, ...]`
- 접근: `var_name[index]` #. index: 숫자 데이터, 0, 1, 2, 3번째...

In [3]:
l = [] # 변수 이름은 영어로 함
print(l)
print(type(l)) # 괄호가 열렸으면 무조건 닫고 안으로 들어갈 것

[]
<class 'list'>

In [8]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])
print(location[1])
print(location[2])
print(location[3]) # error: 내가 가지고 있는 숫자의 범위까지만 가져올 수 있음

['서울', '대전', '부산']
서울
대전
부산

IndexError: list index out of range

In [9]:
location[1] = '대구' # 재할당
print(location)

['서울', '대구', '부산']

## 4.2 Tuple(튜플)

- 선언: `var_name = (value1, value2, value3, ...)`
- 접근: `var_name[index]` #. 순서가 있는 것은 대괄호로 인덱스 접근
- 수정불가능하다(immutable) #. 불변하다

In [10]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [11]:
locaion[2] = '부산' # error: 튜플을 한번 만들어두면 변하지 않음

NameError: name 'locaion' is not defined

In [12]:
result = divmod(5, 2)
print(result)
print(type(result))

(2, 1)
<class 'tuple'>

In [13]:
x = 1
y = 2

(x, y) = (y, x) # 변수값 편하게 바꿀 때 사용
print(x, y)

2 1

## 4.3 Range

- 선언
    - range(n): 0부터 n-1까지 범위 *0 이상 45 미만*
    - range(n. m): n부터 m-1까지 범위 
    - range(n, m, s): n부터 m-1까지 s만큼 증가하는 범위 *s를 더한다*

In [15]:
lotto = range(45)
print(lotto)
print(list(lotto)) # 형변환

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [16]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [17]:
even = range(2, 21, 2) # even: 짝수
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
numbers = range(0, -21, -2) # 음수도 가능
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20]

## 4.4 String

- 기본 데이터 구조 참고

In [20]:
s = 'hi my name is Jin' # 시퀀스 데이터: 순서대로 나열된 단어의 집합체라고 생각하면 됨
# s = ['h', 'i', 'm', 'y', ...]

print(s[0])

h

## 4.5 시퀀스에서 활용 가능한 연산/함수

In [22]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [24]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [25]:
# slicing
# var_name[index1:index2] # 시작점과 끝점을 주면 글자를 잘라줌
print(my_list[0:2])
print(my_tuple[0:2])
print(my_range[0:2])
print(my_string[0:2])

['a', 'b']
(6, 7)
range(0, 2)
가나

In [26]:
print(my_list[2:5])  
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])

['c', 'd', 'e']
(8, 9, 10)
range(2, 5)
다라마

In [30]:
# 인덱스 생략
print(my_list[3:]) # n부터 끝까지
print(my_list[:3]) # 앞에서부터 n까지

['d', 'e']
['a', 'b', 'c']

In [33]:
# 음수 인덱스
print(my_list[-1]) # 맨뒤 찾을 때 주로 쓴다
print(my_list[1:-1])

e
['b', 'c', 'd']

In [36]:
# step
print(my_list[::2]) # 2칸씩 건너

['a', 'c', 'e']

In [41]:
# in
# 데이터가 이 안에 들어있나요?
print(1 in my_list)
print('a' in my_list)

print('z' not in my_list) # 들어있지 않나요?

False
True
True

In [44]:
# concetennation
print(my_list + [1, 2, 3, 4, 5]) # 덧셈이 아니라 연결
print(my_tuple + (1, 2, 3))
print(my_tuple + [1, 2, 3]) # error: 튜플은 튜플끼리 리스트는 리스트끼리

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

TypeError: can only concatenate tuple (not "list") to tuple

In [47]:
# * 
print(my_list * 2) # 연결을 2번 했다
print('a' * 5)

# [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print([0] * 10) # 직접 쓰는 것보다 편함

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [48]:
len(my_list) # length

5

In [49]:
max(my_list) # 영어도 숫자로 인식해서 큰 수를 선택

'e'

In [50]:
min(my_list)

'a'

## 05. 시퀀스형이 아닌 자료 구조

## 5.1 Set

- 수학에서의 집합과 비슷한 개념(중복값이 없음)
- 선언: `var_name = {value1, value2, value3, ...}`
- *순서가 아니기 때문에 접근이 의미가 없음*
- *단일 데이터가 아니라 집합 전체를 본다*

In [53]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [54]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [57]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5, 5}
print(my_set_a) # 5를 아무리 많이 넣어도 하나로 인식

{1, 2, 3, 4, 5}

In [62]:
print(my_set_a - my_set_b) # 차집합
print(my_set_a | my_set_b) # 합집합
print(my_set_a & my_set_b) # 교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [63]:
location = ['서울', '대구', '부산', '광주', '부산', '광주', '부산']
print(set(location)) # 형변환: 중복값을 없애기 위해 사용

{'광주', '서울', '부산', '대구'}

## 5.2 Dictionary

- 선언: `var_name = {key1: value1, key2: value2, key3: value3, ...}`
- 접근: `var_name = [key]` *value를 기준으로는 접근 불가능 무조건 key*

In [64]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])

02

In [71]:
my_info = {
    'name': 'Yoojin',
    'location': 'seoul',
    'age': 27,
    'skill': ['python', 'git']
} # 스트링, 숫자, 리스트 등 다 넣을 수 있음

In [77]:
print(my_info['name'])
print(my_info['age'])
print(my_info['skill'][1]) # my_info['skill']: 여기까지 리스트, [1]: 인덱스

Yoojin
27
git

## 정리

**데이터 타입**
1. Number
2. Boolean
3. String

**자료 구조**
- 시퀀스
    1. [List]: mutable *수정 가능함*
    2. (Tuple): immutable
    3. range(): immutable
    4. 'String': immutable
- 시퀀스가 아닌 것
    1. {Set}: mutable
    2. {Dict: ionary}: mutable

In [78]:
a = 'hello' 
a[0] = 'H' # error: 안의 세부내용을 바꿀 수 없음

TypeError: 'str' object does not support item assignment

In [80]:
my_t = (1, 2, 3)
print(my_t)
my_t = (4, 5, 6)
print(my_t) # 전체를 바꾸는 것은 가능

(1, 2, 3)
(4, 5, 6)